{% extends 'layout.html' %}

{% block content %}

<main>
    <form class="signup-form" action="signup.php" method="POST">
        <input type="text" name="Name" placeholder="Name" />
        <input type="email" name="email" placeholder="Email" />
        <input type="password" name="pwd" placeholder="Password" />
        <input type="password" name="pwd-repeat" placeholder="Repeat Password" />
        <label for="type">I am a:</label>
        <select name="user-type" id="type">
            <option value="student">Student</option>
            <option value="teacher">Teacher</option>
        </select>

        <button type="signup-submit">Submit</button>
    </form>
</main>

{% endblock %}