{% extends 'layout.html' %}

{% block content %}

<main class="signup-page">
    <h2 class="page-heading">Sign up</h2>
    <form class="signup-form" action="signup.php" method="POST">
        <input type="text" name="name" placeholder="Name" />
        <input type="email" name="email" placeholder="Email" />
        <input type="password" name="pwd" placeholder="Password" />
        <input type="password" name="pwd-repeat" placeholder="Repeat Password" />
        <label for="type">I am a:</label>
        <select name="user-type" id="type">
            <option value="student">Student</option>
            <option value="teacher">Teacher</option>
        </select>

        <button class="btn" type="submit" name="signup-submit">Sign up!</button>
    </form>

    {% if response.error %}
        <div class="response-failed">
            <p>{{ response.status }} - {{ response.error }}</p>
        </div>
    {% elseif response.id %}
        <div class="response-success">
            <p>{{ response.status }} - {{ response.id }}</p>
        </div>
    {% endif %}
</main>

{% endblock %}