{% extends 'layouts/layout.html' %}

{% block content %}

<main>
   {% include('includes/search.html') %}
   <h2>Videos Test</h2>
   <p>{{ response.asd }}</p>
   <p>{{ response.type }}</p>
   <form action="videos.php" method="POST" enctype="multipart/form-data">
        <label for="file">Add video</label>
        <input type="file" name="file-upload" id="file">

        <input type="text" name="title" placeholder="Title">
        <input type="text" name="subject" placeholder="Subject">
        <input type="text" name="thumbnail" placeholder="Thumbnail">
        <textarea name="description" cols="30" rows="10"></textarea>

        <button type="submit" name="file-submit">Add video</button>
    </form>
    
    {% if response.error or response.errorMessage %}
        <div class="response-failed">
            <p>{{ response.status }} - {{ response.error }}{{ response.errorMessage }}</p>
        </div>
    {% elseif response.id %}
        <div class="response-success">
            <p>{{ response.status }} - {{ response.id }}</p>
        </div>
    {% endif %}
</main>

{% endblock %}

