{% extends 'layouts/layout.html' %}

{% block content %}

<main>
    {% include('includes/search.html') %}

    <h2>Most Recent Videos</h2>

    <div class="video-grid">

        {% for video in videos %}
            <div class="video-card">
                <h3>{{ video.title }}</h3>
                <p>{{ video.subject }}</p>
                <video controls>
                    <source src="videos/developerStories-en.mp4" type="video/mp4">
                </video>
                <small>Uploaded by: {{ video.upladed_by }}</small>
                <small>{{ video.upload_time }}</small>
                <p class="rating">Rating: {{ video.rating }}</p>
            </div> 
        {% endfor %}

    </div>



</main>

{% endblock %}