{% extends 'layouts/layout.html' %}

{% block content %}

<main>
    <div class="main-header">
        <h2>Most Recent Videos</h2>
        {% include('includes/search.html') %}
    </div>

    {% if videos.status != 'Error' %}
        <div class="video-grid">

            {% for video in videos %}
                <div class="video-card">
                    <a href="video.php?id={{ video.id }}"><h3>{{ video.title }}</h3></a>
                    <p>{{ video.subject }}</p>
                    <a href="video.php?id={{ video.id }}">
                        <img class="thumbnail" src="{{ video.thumbnail }}" alt="{{ video.title }}">
                    </a>
                    <small>Uploaded by: {{ video.name }}</small>
                    <small>{{ video.upload_time }}</small>
                    {% if video.avg_rating %}
                        <small>Rating: {{ video.avg_rating }}</small>
                    {% else %}
                        <small>Rating: Not rated</small>
                    {% endif %}
                </div> 
            {% endfor %}

        </div>

    {% else %}
        <p class="error">{{ videos.error }}</p>
    {% endif %}

</main>

{% endblock %}