{% extends 'layouts/layout.html' %}

{% block content %}

<main>
    {% include('includes/search.html') %}

    <h2>Most Recent Videos</h2>

    <div class="video-grid">

        {% for video in videos %}
            
                <div class="video-card">
                    <a href="video.php?id={{ video.id }}"><h3>{{ video.title }}</h3></a>
                    <p>{{ video.subject }}</p>
                    <a href="video.php?id={{ video.id }}"><img class="thumbnail" src="{{ video.location }}" alt="{{ video.title }}"></a>
                    <small>Uploaded by: {{ video.name }}</small>
                    <small>{{ video.upload_time }}</small>
                    <p class="rating">Rating: {{ video.rating }}</p>
                </div> 
        {% endfor %}

    </div>


</main>

{% endblock %}