/*** Globals ***/

* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
}

h1, h2 {
  letter-spacing: .1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: white;
}

/* Form inputs */ 

input,
select {
  border: none;
  border-radius: 3px;
  padding: .5rem .4rem;
  margin: .4rem;
}

.page-heading {
  margin: 1rem;
}

/* Buttons */

.btn {
  display: inline-block;
  border: none;
  border-radius: 3px;
  padding: .4rem;
  min-width: 5rem;
  background: pink;
  color: #333;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, .1);
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background: black;
  color: white;
}

/*** Header ***/

header {
  background: lightskyblue;
  padding: .5rem 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  align-items: center;
}

.header-login {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Navigation */

nav {
  display: flex;
  height: 7vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  padding: .3rem;
}

/*** Content ***/

.content {
  display: flex;
  justify-content: center;
  width: 100%;
}

main {
  background: lightskyblue;
  margin: 3rem 20%;
  padding: 1rem 2rem;
  width: 100%;
  border-radius: 3px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, .1);
}

/*** Index page ***/

/*** Signup page ***/

.signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 0;
}

.response-failed,
.response-success {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 3px;
  width: 80%;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, .2);
}

.response-failed {
  background: #ff6562;
}

.response-success {
  background: #00c07f;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.signup-form label {
  margin: .2rem auto;
}

.signup-form button {
  margin: 2rem auto;
  padding: .7rem 0;
}

