<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>{{ title }}</title>
</head>
    <body>
        <header>
            <h1 class="logo">Webbusito</h1>
            
            {% if loggedIn %}
                <nav>
                    <ul>
                        <li><a href="index.php">Videos</a></li>
                        <li><a href="playlists.php">Playlists</a></li>
                        <li><a href="#">My Subscriptions</a></li>
                        <li><a href="uploadvideo.php">Upload</a></li>
                    </ul>
                </nav>
        
                <div class="header-login">
                    <p>Welcome <a href="profile.php">{{ userData.name }}</a></p>
                    <form action="index.php" method="post">
                        <button class="btn" type="submit" name="logout-submit">Log out</button>
                    </form>
                </div>
            {% else %}
                <p class="header-text">Please log in or create a new user</p>
                <div class="header-login">
                    <form action="index.php" method="post">
                        <input type="email" name="email" placeholder="Email" value="{{ get['email'] }}">
                        <input type="password" name="pwd" placeholder="Password">
                        <button class="btn" type="submit" name="login-submit">Log in</button>
                    </form>
                </div>
            {% endif %}

        </header>

        <div class="content">
            {% block content %}{% endblock %}
        </div>
        
    </body>
</html>